<!DOCTYPE html>
<html>
    <head>
        <style>
            body, html {
                  height: 100%;
                }
            body {
                padding: 0px;
                margin: 0px;
                background: url('tet_back.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
            }
            
            
        </style>
    </head>
    <body>
        <div class="wrap">

        </div>
    </body>

</html>
